body {
  font-family: "Roboto", sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  width: 1600px;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sign in */

.content {
  width: 480px;
  margin-top: 100px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.loginForm {
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  padding: 4px 100px;
  margin-bottom: 20px;
}

input {
  padding: 4px 8px;
}

.inputGroup label {
  margin: 16px 0;
}

.topForm {
  padding: 8px 32px;
  background-color: #f2f2f2;
}

.bottom p {
  text-align: center;
}

.bottom ul {
  display: flex;
  justify-content: center;
}

.bottom ul li {
  list-style-type: none;
  margin-right: 32px;
  border: 1px solid black;
  padding: 8px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.fb-icon {
  margin-left: 4px;
}
.gg-icon {
  margin-left: 2px;
}
.tw-icon {
  margin-left: 3px;
}

#submitBtn {
  display: flex;
  justify-content: center;
  margin: 20px 70px;
  padding: 12px 0;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}
/* End Sign in */

/* Sign up */
.contentSignup {
  margin-top: 100px;
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.formSignup {
  display: flex;
  flex-direction: column;
  padding: 4px 32px;
  margin-bottom: 20px;
}

.formSignup label {
  margin: 6px 0;
  font-weight: 600;
}

.formName {
  display: flex;
  margin: 12px 0;
}

.formName input {
  padding: 4px 16px;
}

.firstName,
.lastName {
  display: flex;
  flex-direction: column;
}

.firstName {
  margin-right: 40px;
}
/* End sign up */
